<h1>Create a new customer</h1>
<%= form_tag customers_create_path do %>

<%=label_tag 'name' %> : <%= text_field_tag 'name' %><br /><br />

<%= label_tag 'age' %> : <%= text_field_tag 'age' %><br /><br />

<%= label_tag 'address' %> : <%= text_field_tag 'address' %><br /> <br />

<%= submit_tag %>
<% end %>